@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.banner{
    background-image: url('../../images/banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.fa-bounce{
    --fa-animation-duration: 2s;
}
.ff-poppins{
    font-family: 'Poppins', sans-serif;
}